@import "../../../../assets/styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  width: 49.9%;
  flex-shrink: 0;
  box-shadow: 1px 1px 2px $shadow;
  .icon {
    width: 24px;
    height: 24px;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darken($shadow, 40);
    cursor: pointer;
  }
  .header {
    background-color: $dark;
    color: $white;
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0;
  }
  .content {
    height: 300px;
    padding: 0;
    margin: 0;
    overflow: auto;
    .item {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      background-color: $light;
      padding: 0.5em;
      color: $text;
      &:nth-child(even) {
        background-color: darken($light, 10%);
      }
      .text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 1em;
        width: 90%;
      }
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      outline: none;
      width: 90%;
      border: none;
      border-bottom: 1px solid $primary;
      &:focus,
      &:hover {
        outline: none;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid $light;
      }
    }
    .icon {
      color: $primary;
      font-size: 1.2em;
    }
  }
}
