@import "../../assets/styles/variables.scss";

.wrapper {
  background: rgba($white, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    position: relative;
    width: 250px;
    padding: 1.5em;
    border: 1px solid $red;
    box-shadow: 0 0 2px rgba($red, 0.5);
    border-radius: 0.3em;
    text-align: center;
    color: $text;
    font-size: 0.9em;
    .icon {
      position: absolute;
      top: 0.1em;
      right: 0.3em;
      color: $red;
      width: 12px;
      cursor: pointer;
    }
  }
}
